.user-account-container {
    padding: 20px;
  }
  
  .user-profile, .user-bookings, .user-reservations {
    margin-top: 20px;
  }
  
  .nav-pills .nav-link {
    border-radius: 0;
    background-color: #b6dee7;
    color: #28292f;
    margin-bottom: 10px;
  }
  
  .nav-pills .nav-link.active {
    background-color: #387b9f;
    color: #fff;
  }
  