/* Stylizacja przycisku "Rozpocznij swoją rezerwację" */
.app .top-button {
    background-color: #b6dee7;
    color: #28292f;
    border: none;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Zmiana tylko koloru tła */
    transform: translate(0); /* Ustawienie początkowej pozycji */
}

.app .top-button:hover {
    background-color: #387b9f;
    color: #fff;
}

.app .top-button:active {
    background-color: #387b9f;
    color: #fff;
    outline: none;
    box-shadow: none;
    transform: translateY(2px); /* Lekkie przesunięcie w dół przy kliknięciu */
}


/* Stylizacja przycisku logowania */
.login-btn {
    background-color: #b6dee7;
    color: #28292f;
    border: none;
    margin-left: -10px;
    margin-right: 20px;
}

.login-btn:hover {
    background-color: #387b9f;
    color: #fff;
}

/* Stylizacja logo */
.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* Zapewnienie responsywności dla przycisku w headerze */
@media (max-width: 576px) {
    .top-button {
        padding: 5px 30px; /* Zmniejszenie rozmiaru przycisku dla małych ekranów */
        font-size: 16px; /* Zmniejszenie rozmiaru czcionki dla małych ekranów */
    }
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item .nav-link svg {
    margin-left: 8px;
}


/* Stylizacja przycisku logowania i wylogowania */

.login-btn, .logout-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
}

.login-btn:hover, .logout-btn:hover {
    text-decoration: none;
}


/* Stylizacja ikony wylogowania */
.nav-icons {
    background: none;
    border: none;
    color: #28292f;
    cursor: pointer;
    font-size: 28px; /* Zwiększono rozmiar ikony */
    margin-right: 10px; /* Dodano margines od prawej krawędzi */
}

.nav-icons:hover {
    color: #28292f; /* Brak zmiany koloru przy najechaniu */
    background: none; /* Brak podświetlenia */
}

.nav-icons:active {
    outline: none;
    color: #387b9f;
}



/* Zmiana koloru przy najechaniu */
/* .account-link:hover svg {
    color: #387b9f; 
} */

/* Stylizacja dymka */
.tooltip-inner {
    background-color: #b6dee7; /* Tło dymka */
    color: #28292f; /* Kolor tekstu w dymku */
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip-arrow {
    border-bottom-color: #b6dee7 !important;
}

/* Stylizacja przycisku rejestracji/logowania w kontenerze */
.login-register-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #90c2e7;
    border-radius: 4px;
    background-color: #d1ecf9;
    color: #000;
    font-size: 16px;
}

.login-register-container button:hover {
    background-color: #90c2e7;
    color: #000;
}

.toggle-button {
    margin-top: 10px;
    color: #90c2e7;
    cursor: pointer;
}

.toggle-button:hover {
    text-decoration: underline;
}

/* Stylizacja kontenera logowania/rejestracji */
.login-register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-register-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px;
}


/* Stylizacja przycisku wyszukiwania */
.search-btn {
    background-color: #b6dee7; /* Jasnoniebieski */
    color: #28292f; /* Ciemny szary */
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Ustawienie odpowiedniego odstępu dla ikony */
}


.search-car:focus, .search-car:active {
    background-color: #387b9f !important; 
    color: #ffffff !important; 
    outline: none !important; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important; 
}

mark {
    background:  #b6dee7;
    color: black;
  }
  