
.faq-page {
    padding: 20px;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .faq-categories h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .accordion .card {
    margin-bottom: 10px;
  }
  
  .accordion .card-header {
    cursor: pointer;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .accordion .card-body {
    background-color: #fff;
  }

  .faq-page {
    margin-bottom: 50px; 
  }
  
  .faq-title {
    text-align: left;
    font-size: 1.5rem; 
    margin-bottom: 20px;
  }

/* Styl dla nagłówków Accordion (rozwijanych sekcji) */
.accordion-button:not(.collapsed) {
  background-color: #387b9f; /* Ustaw kolor podświetlenia na kolor tła stopki */
  color: white; /* Ustaw kolor czcionki na biały */
}

.accordion-button {
  color: #000; /* Ustaw domyślny kolor czcionki na czarny */
}

/* Styl dla zawartości Accordion (treści rozwijanych sekcji) */
.accordion-body {
  color: #000; /* Ustaw kolor czcionki na czarny */
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 576px) {
  .contact-page h1 {
    font-size: 1.5rem;
  }

  .contact-page .form-control {
    padding: 8px;
    font-size: 14px;
  }

  .contact-page .promo-button {
    padding: 5px 20px;
    font-size: 14px;
  }

}