.logo {
    width: 100px;
    height: auto; /* Zachowaj proporcje obrazu */
    margin-right: 10px;
  }


  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  
  }
  
  
  a {
    text-decoration: none;
    color: unset;
   
  }
  
  img {width:960px;
     height: 720px;
  }
  
  body {
    font-family: Cambria;
  }


  /* Style dla sekcji z ofertą */
.offer-section {
  background-color: #f8f9fa;
  padding: 40px 0;
}

