/* Styl dla toggle buttonów */
.toggle-date-form, .toggle-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    background-color: #b6dee7;
    color: #28292f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .toggle-date-form:hover, .toggle-filters:hover {
    background-color: #387b9f;
    color: #fff;
  }
  
  .date-change-form, .filter-form {
    margin-top: 20px;
  }
  
  .date-change-form .form-group, .filter-form .form-group {
    margin-bottom: 15px;
  }
  
  .date-change-form .form-label, .filter-form .form-label {
    font-weight: bold;
    color: #387b9f;
  }
  
  .date-change-form .date-time-picker, .filter-form .date-time-picker {
    display: flex;
    justify-content: space-between;
  }
  
  .date-change-form .date-picker, .filter-form .date-picker,
  .date-change-form .time-picker, .filter-form .time-picker {
    width: 48%;
  }
  
  .filters .section-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 1.5rem; /* Większy odstęp między tytułem a formularzem */
  }
  
  .filters .form-group {
    margin-bottom: 1.5rem;
  }
  
  .filters .form-check-input {
    margin-right: 5px;
  }
  
  .filters .form-check-label {
    font-size: 0.875rem; /* Zmniejszenie czcionki */
    margin-left: 5px;
    display: flex;
    align-items: center;
  }
  
  .filters .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
  }
  
  /* Stylizacja dla sekcji filtrów */
  .filters .form-check,
  .filters .form-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filters .form-check-input, 
  .filters .form-radio-input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .filters .form-check-label,
  .filters .form-radio-label {
    margin: 0;
    font-size: 1rem;
    color: #28292f;
  }
  
  /* Ustawienie szerokości zdjęcia w karcie samochodu */
  .car-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .car-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 20px; /* Dodanie marginesu dolnego */
  }
  
  .car-features {
    list-style-type: none;
    padding: 0;
  }
  
  .car-features li {
    margin-bottom: 5px;
  }
  
  .car-price {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
  }
  
  .promo-button {
    background-color: #b6dee7;
    color: #28292f;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .promo-button:hover {
    background-color: #387b9f;
    color: #fff;
  }
  
  .no-offers {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Dodatkowe marginesy */
  .toggle-filters {
    margin-top: 20px;
  }
  
  /* Stylizacja dla małych ekranów */
  @media (max-width: 576px) {
    .reservation-page {
      padding: 30px 0; /* Zmniejszenie paddingu dla małych ekranów */
    }
  
    .section-title {
      font-size: 18px; /* Zmniejszenie rozmiaru czcionki nagłówków */
    }
  
    .car-card .card-title {
      font-size: 14px; /* Zmniejszenie rozmiaru czcionki tytułów */
    }
  
    .car-card .card-text, .car-card .car-price {
      font-size: 12px; /* Zmniejszenie rozmiaru czcionki tekstu */
    }
  }
  